html {
    --theme-color: rgb(55, 212, 236);
}
article > p {
    text-indent: 2em;
}
.search input:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}
.sidebar {
    border-right: none;
    box-shadow: rgb(0 0 0 / 10%) 4px 0 6px -1px, rgb(0 0 0 / 6%) 2px 0 4px -1px;
}
.app-nav ul {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
.search {
    border-radius: 1em;
    margin: 0.2em 0.5em;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
.app-nav {
    position: fixed;
}
.app-nav:hover ul {
    opacity: 1;
}
.sidebar-toggle {
    border-radius: 0 30% 0 0;
}
.input-wrap:before {
    font-family: "Material Icons Round";
    color: #000;
    font-size: 1.7em;
    margin: 0 0.5em;
    content: "search";
}
.app-nav ul {
    opacity: 0.5;

    transition: all 0.5s !important;
    background-color: #fefefe;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    box-sizing: border-box;
    border: 0 !important;
}
.clear-button::before {
    content: "close";
    font-family: "Material Icons Round";
    color: #000;
    font-size: 1.7em;
}
.clear-button svg {
    display: none;
}

.docsify-copy-code-button {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 2.3rem;
    width: 2.3rem;
    margin: 0.5em;
    background-color: #eee;
}
.docsify-copy-code-button span {
    display: none;
}
.docsify-copy-code-button:before {
    content: "content_copy";
    font-family: "Material Icons Round";
    color: #fff;
    font-size: 1.4rem;
}
.markdown-section {
    color: #595959c9;

    background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, 0.04) 3%, transparent 0);
    background-size: 20px 20px;
    background-position: 50%;
}
.markdown-section code,
.markdown-section pre {
    background-color: #fafafa;
    border-radius: 1em;
}
